In [1]:
import pandas as pd
from scipy import stats

In [3]:
df = pd.read_csv("LabTAT.csv")

In [4]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
w,pvalue = stats.bartlett(df['Laboratory 1'],df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])

if pvalue > 0.05:
    print('Accept Null Hypothesis, P value: ',pvalue)
else:
    print('Go for Alternative Hypothesis, P value: ', pvalue)

Accept Null Hypothesis, P value:  0.10686741658107135